.notown {
  fill: #924949;
  /* color: #98ff00; */
}
.own {
  fill: #0400ff;
}
.hextext {
  color: #0400ff;
  font-size: 0.3em;
}

svg g text {
  font-size: 0.22em;
  fill: #000000;
}
.HexGrid {
  /* overflow: scroll; */
  position: static;
  overflow: auto;
  margin: auto;
  width: 50%;
  /* border: 3px solid green; */
  /* padding: 10px; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("rayda1.jpg");
  background-position: center center;
  background-size: cover;
  width: 100vh;
  height: 90vh;
}

.HexGrid::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.HexGrid::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.HexGrid::-webkit-scrollbar-thumb {
  background: #0816dd;
}

.HexGrid::-webkit-scrollbar-thumb:hover {
  background: #9e3131;
}

.sticky {
  position: sticky;
  top: 0;
  bottom: 0;
}
